# - python= 3.8 (used)

tensorflow==2.12.0
pandas
dvc
mlflow==2.2.2
notebook
numpy
matplotlib
seaborn
python-box==6.0.2 # helps to create the exceptions
pyYAML # to read YAML file 
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown # to read data from google drive
ipykernel
-e . # to install the folder as local package
